<div class='menu'>

	<button md-button [mdMenuTriggerFor]="menu">Home</button>
	
	<md-menu #menu="mdMenu">
		<button md-button [mdMenuTriggerFor]="myActivity">My Activity </button>
		<md-menu #myActivity="mdMenu">
			<button md-menu-item> To Do</button>			
		</md-menu>

		<button md-button [mdMenuTriggerFor]="history">History </button>
		<md-menu #history="mdMenu">
			<button md-menu-item> To Do</button>			
		</md-menu>

		<button md-button [mdMenuTriggerFor]="analytics">Analytics </button>
		<md-menu #analytics="mdMenu">
			<button md-menu-item> To Do</button>			
		</md-menu>

		<button md-button [mdMenuTriggerFor]="references">References </button>
		<md-menu #references="mdMenu">
			<button md-menu-item> Employees </button>	
			<button md-menu-item> Location </button>	
			<button md-menu-item> Department </button>			
		</md-menu>

	</md-menu>	
</div>
