.appContainer {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-flow: row;
} 
menu{
	padding: 0px;
	margin: 0px;
}
main-bar {
	height: 100px;
}
page-container {
	width: 100%;
	height: calc(100% - 100px);
}