<div class="incidentsPage">
  <div class="topWidgetsIncidents">
    <div class="assistantsContainer">
      <nav>

        <button class="button-action" routerLink="/" routerLinkActive="active">
          <md-icon aria-hidden="true">home</md-icon>
        </button>
      </nav>
    </div>
    <h1 style="padding-left: 1.5em;color: gold">Incidents List</h1>
  </div>

  <div class="incidentList">
    <ul class="incidents-container">
      <li class="incident-item" *ngFor="let incident of incidentList" [routerLink]="['/detail', incident.id]">{{incident.id}} {{incident.reason}} {{incident.data}} {{incident.status}}</li>
    </ul>
  </div>

</div>