.mainBar{
  height: 100%;
  width: 100%;
  background-color: blue;
  flex-flow: row;
  background: linear-gradient(black, green, red);
}

md-icon.user{
  float: right;
}

md-icon.exit{
  float: right;
}

.mat-icon {
  width: 100%;
}